<!DOCTYPE html>
<html>
<head>
  <title>ElegantImport</title>
  <%= stylesheet_link_tag    "elegant_import/application", media: "all" %>
  <%= javascript_include_tag "elegant_import/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
